<!DOCTYPE html>
<html lang="ko" ng-app="seachApp">

<head>
  <script data-ionic="inject">
    (function (w) { var i = w.Ionic = w.Ionic || {}; i.version = '3.9.2'; i.angular = '5.0.3'; i.staticDir = 'build/'; })(window);
  </script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Free coming soon template with jQuery countdown">

  <!-- <link href="assets/css/bootstrap.css" rel="stylesheet"> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link href="assets/css/bootstrap-theme.css" rel="stylesheet">
  <link href="assets/css/style.css" rel="stylesheet">
  <link href="assets/css/font-awesome.min.css" rel="stylesheet" />

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

</head>

<!--  content -->

<body ng-controller="seachCtl">

  <div id="wrapper">

    <div class="container">

      <div class="list-group">


        <div class="col-md-8 col-md-offset-2">
          <form class="form-horizontal" role="form">
            <!-- <h1>FDK 긴급연락망</h1>  -->
             <!-- <div class="form-group">
              <label for="input3" class="col-sm-4 control-label">Search By Department</label>

               <div class="col-sm-6">
                <select id="input3" class="form-control" ng-model="filterTxn.dep">
                  <option value="">All</option>
                  <option value="인사팀">인사팀</option>
                  <option value="법무팀">법무팀 </option>
                  <option value="신규사업팀">신규사업팀 </option>
                  <option value="전략기획팀">전략기획팀 </option>
                  <option value="채널영업1팀">채널영업1팀</option>
                  <option value="채널영업2팀">채널영업2팀</option>
                  <option value="사업지원팀">사업지원팀</option>
                  <option value="법인영업1팀">법인영업1팀</option>
                  <option value="법인영업2팀">법인영업2팀</option>
                  <option value="e-Biz영업팀">e-Biz영업팀</option>
                  <option value="고객서비스팀">고객서비스팀</option>
                  <option value="운영팀">운영팀</option>
                  <option value="가맹점서비스팀">가맹점서비스팀</option>
                  <option value="계약운영팀">계약운영팀</option>
                  <option value="재무기획팀">재무기획팀</option>
                  <option value="회계팀">회계팀</option>
                  <option value="IT기획팀">IT기획팀</option>
                  <option value="IT개발1팀">IT개발1팀</option>
                  <option value="IT개발2팀">IT개발2팀</option>
                  <option value="IT개발3팀">IT개발3팀</option>
                  <option value="IT운텽팀">IT운텽팀</option>
                  <option value="ISCD">ISCD</option>
                  <option value="데이터본사">데이터본사</option>
                  <option value="데이터센터">데이터센터</option>


                </select>
              </div> 
            </div>  -->


            <div class="form-group">
              <label for="input1" class="col-sm-4 control-label">Search Name</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" id="input1" placeholder="Input Name" ng-model="filterTxn.name">
              </div>
            </div>

            <div class="cssload-container" ng-hide="hide">
              <div class="cssload-whirlpool"></div>
            </div>


              
            <table class="table table-striped table-bordered" ng-hide="!hide">
              <thead>
                <tr>
                  <th width="80px">Name</th>                 
                  <th>Number</th>
                  <th>etc</th>
                </tr>
              </thead>
              <tr ng-repeat="module in modules |filter:filterTxn | orderBy: 'name' " href="{{module.num}}">
                <td>{{module.name}} </td>               
                <td>
                  <a ng-href="tel:{{module.no}}"> {{module.no}} </a>
                </td>
                <td>
                  <a ng-click="myFuncDel(module._id.$oid)"> Delete </a>
                </td>
              </tr>
            </table>

        </div>
        <!--  script -->


      </div>
    </div>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
      ADD
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Add</h5>

          </div>
          <div class="modal-body">           
            <input type="text" class="form-control" id="employeeName" aria-describedby="name" placeholder="name">
            <input type="text" class="form-control" id="employeeNumber" aria-describedby="number" placeholder="content">
            <input type="text" class="form-control" id="code" aria-describedby="number" placeholder="Password">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" ng-click="myFuncIns()" class="btn btn-primary">Save</button>
          </div>
        </div>
      </div>
    </div>

    

  </div>



  <script src="assets/js/jquery.js"></script>
  <script src="assets/js/angular.min.js"></script>
  <!-- <script src="assets/js/bootstrap.min.js"></script> -->
  <script src="assets/js/angular-route.min.js"></script>
  <script src="assets/js/angular-resource.min.js"></script>



  <script>
    var app = angular.module('seachApp', ['ngResource']);

    //서비스로 $resource객체를 등록
    app.service("$Fdk_list", function ($resource) {

      //$resource("주소","파라미터","메서드재정의")
      //query() : 배열로 받아오기 : select(Read)
      //get() : 1개 받아오기 : select(Read)
      //delete() : delete(Delete)
      //save() : insert(Create)

      //update() : update(update) <-- 새로 만들기

      //mongolab 
      //yooseonghwan
      //sh0826

      return $resource("https://api.mongolab.com/api/1/databases/fdk/collections/nums/:id",
        {
          "apiKey": "TvwpqPIcfFv_8fbW6qfCx8TClWkvRggS",
          "id": "@_id.$oid"
        }, {
          "update": { "method": "PUT" },
          "delete": { "method": "DELETE" }
        });
    });

    app.controller('seachCtl',
      ['$scope', '$Fdk_list', '$http', function ($scope, $Fdk_list, $http) {

        function getTelList() {

          //로딩이미지 보여주기
          $scope.hide = false;

          $scope.modules = $Fdk_list.query(function (modules) {
            //서버에서 할일 목록을 받아오면
            //여기에 호출
            //할 일 목록을 다 받아왔으니까
            //로딩이미지 숨기기
            $scope.hide = true;

            //브라우저의 개발자콘솔에 출력
            console.log("modules=" + modules);
          });
        }

        getTelList();

        //삭제 로직 
        $scope.myFuncDel = function (id) {

          var password = prompt("Please enter password ", "");
          if (password == "1234!") {
            mongoDBdelete(id);
          }
        };

        //추가 로직 
        $scope.myFuncIns = function () {

           var password = $("#code").val();
        
           if (password !="1234!") {
             alert("비번이 틀렸습니다.");
           }else{
            var name = $("#employeeName").val();
            var number = $("#employeeNumber").val();

            mongoDBinsert(name,number);
           }
           
          
        };



      }]);

    setTime();

    function setTime() {
      var beforeDateTime = '';
      var today = new Date();
      var nowDateTime = padZero(today.getHours()) + ":" + padZero(today.getMinutes()) + ":" + padZero(today.getSeconds());
      if (beforeDateTime != nowDateTime) {
        document.getElementById("timeShow").innerHTML = nowDateTime;
        beforeDateTime = nowDateTime;

      }
      setTimeout("setTime()", 200);
    }

    function padZero(param) {
      return "00".concat(param).match(/\d{2}$/);
    }

    app.filter('custom_filter', [function ($filter) {

      return function (inputArray, searchCriteria, dep) {
        if (!angular.isDefined(searchCriteria) || searchCriteria === '') {
          return inputArray;
        }
        var data = [];
        angular.forEach(inputArray, function (item) {
          if (item.dep == dep) {
            if (item.payee.name.toLowerCase().indexOf(searchCriteria.toLowerCase()) != -1) {
              data.push(item);
            }
          }
        });
        return data;
      };
    }]);


    //  $http.post("https://api.mongolab.com/api/1/databases/fdk/collections/nums/", param)

    function mongoDBdelete(id) {
      alert('Are you sure you want to delete?');
      $.ajax({
        url: "https://api.mlab.com/api/1/databases/fdk/collections/nums/" + id + "?apiKey=TvwpqPIcfFv_8fbW6qfCx8TClWkvRggS",
        type: "DELETE",
        async: true,
        timeout: 300000,
        success: function (data) {
          console.log("successresponse=" + data);
          alert("Deleted.")
        },
        error: function (xhr, status, err) {
          console.log("successresponse=" + xhr);
          console.log("successresponse=" + status);
          console.log("successresponse=" + err);
        }
      });
    }

    function mongoDBinsert(name, phone) {
      alert('are your sure?');

      $.ajax({
        url: "https://api.mlab.com/api/1/databases/fdk/collections/nums?apiKey=TvwpqPIcfFv_8fbW6qfCx8TClWkvRggS",
        data: JSON.stringify( { "name" : name,"no" : phone, "dep": ""} ),
        contentType: "application/json" ,
        type: "POST",
        async: true,
        timeout: 300000,
        success: function (data) {
          console.log("successresponse=" + data);
          alert("saved.");
          getTelList();
        },
        error: function (xhr, status, err) {
          console.log("successresponse=" + xhr);
          console.log("successresponse=" + status);
          console.log("successresponse=" + err);
        }
      });
    }

  </script>

</body>

</html>