<!DOCTYPE html>
<html lang="ko" ng-app="seachApp">

<head>
  <script data-ionic="inject">
    (function (w) { var i = w.Ionic = w.Ionic || {}; i.version = '3.9.2'; i.angular = '5.0.3'; i.staticDir = 'build/'; })(window);
  </script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Free coming soon template with jQuery countdown">

  <!-- <link href="assets/css/bootstrap.css" rel="stylesheet"> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link href="assets/css/bootstrap-theme.css" rel="stylesheet">
  <link href="assets/css/style.css" rel="stylesheet">
  <link href="assets/css/font-awesome.min.css" rel="stylesheet" />

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

</head>

<!--  content -->

<body ng-controller="seachCtl">

  <div id="wrapper">

    <div class="container">

      <div class="list-group">


        <div class="col-md-8 col-md-offset-2">
          <form class="form-horizontal" role="form">
            <br>

            <div class="form-group">
              <h3>Search Key
                <span class="badge badge-secondary"></span>
              </h3>
              <br>

              <div class="row">
                <div class="col-sm-10 ">
                  <input type="text" class="form-control" id="input1" placeholder="Input Key" ng-model="filterTxn.name">
                </div>
                <div class="col-sm-2">
                  <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#ModalCenter">
                    Plus
                  </button>

                </div>
              </div>

            </div>

            <div class="cssload-container" ng-hide="hide">
              <div class="cssload-whirlpool"></div>
            </div>


            <table class="table" ng-hide="!hide">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Key</th>
                  <th>Content</th>
                  <th>Type</th>
                  <th>Memo</th>
                  <th>Option</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="module in modules |filter:filterTxn | orderBy: 'name' ">
                  <th scope="row"> {{$index + 1}}</th>
                  <td>{{module.name}} </td>
                  <td>
                    <a ng-href="tel:{{module.no}}"> {{module.no}} </a>
                  </td>
                  <td>{{module.type}} </td>
                  <td>{{module.memo}} </td>
                  <td>
                    <a data-toggle="modal" data-target="#ModalCenter_delete" ng-click="myFuncDel(module._id.$oid)"> Delete </a>
                  </td>
                </tr>
              </tbody>
            </table>

        </div>
        <!--  script -->


      </div>
    </div>



    <!-- Modal -->
    <div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Add</h5>

          </div>
          <div class="modal-body">

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">key</span>
              </div>
              <input type="text" id="employeeName" class="form-control" placeholder="Key" aria-label="Username" aria-describedby="basic-addon1">
            </div>

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">content</span>
              </div>
              <input type="text" id="employeeNumber" class="form-control" placeholder="content" aria-label="content" aria-describedby="basic-addon1">
            </div>


            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Type</span>
              </div>

              <select id="employeeType" class="form-control">
                <option selected>Telephone </option>
                <option>URL</option>
              </select>

              <input type="text" id="employeeNumber" class="form-control" placeholder="content" aria-label="content" aria-describedby="basic-addon1">
            </div>



            <div class="input-groupU mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Memo</span>
              </div>
              <input type="text" id="employeeNumemployeeMemober" class="form-control" placeholder="Memo" aria-label="content" aria-describedby="basic-addon1">
            </div>

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">password</span>
              </div>
              <input type="text" id="code" class="form-control" placeholder="password" aria-label="content" aria-describedby="basic-addon1">
            </div>


          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" ng-click="myFuncIns()" class="btn btn-primary">Save</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Password Modal -->
    <div class="modal fade" id="ModalCenter_delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Delete</h5>

          </div>
          <div class="modal-body">
            <input type="text" class="form-control" id="deletecode" aria-describedby="number" placeholder="Password">
            <input type="hidden" class="form-control" id="deleteIdCode" aria-describedby="number">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" onclick="mongoDBdelete()" class="btn btn-primary">Delete</button>
          </div>
        </div>
      </div>
    </div>



  </div>



  <script src="assets/js/jquery.js"></script>
  <script src="assets/js/angular.min.js"></script>
  <!-- <script src="assets/js/bootstrap.min.js"></script> -->
  <script src="assets/js/angular-route.min.js"></script>
  <script src="assets/js/angular-resource.min.js"></script>



  <script>
    var app = angular.module('seachApp', ['ngResource']);

    //서비스로 $resource객체를 등록
    app.service("$Fdk_list", function ($resource) {

      //$resource("주소","파라미터","메서드재정의")
      //query() : 배열로 받아오기 : select(Read)
      //get() : 1개 받아오기 : select(Read)
      //delete() : delete(Delete)
      //save() : insert(Create)

      //update() : update(update) <-- 새로 만들기

      //mongolab 
      //yooseonghwan
      //sh0826

      return $resource("https://api.mongolab.com/api/1/databases/fdk/collections/nums/:id",
        {
          "apiKey": "TvwpqPIcfFv_8fbW6qfCx8TClWkvRggS",
          "id": "@_id.$oid"
        }, {
          "update": { "method": "PUT" },
          "delete": { "method": "DELETE" }
        });
    });

    app.controller('seachCtl',
      ['$scope', '$Fdk_list', '$http', function ($scope, $Fdk_list, $http) {

        function getTelList() {

          //로딩이미지 보여주기
          $scope.hide = false;

          $scope.modules = $Fdk_list.query(function (modules) {
            //서버에서 할일 목록을 받아오면
            //여기에 호출
            //할 일 목록을 다 받아왔으니까
            //로딩이미지 숨기기
            $scope.hide = true;

            //브라우저의 개발자콘솔에 출력
            console.log("modules=" + modules);
          });
        }

        getTelList();

        //삭제 로직 
        $scope.myFuncDel = function (id) {

          $("#deleteIdCode").val(id);

        };

        //추가 로직 
        $scope.myFuncIns = function () {

          var password = $("#code").val();

          if (password != "1234!") {
            alert("비번이 틀렸습니다.");
          } else {
            var name = $("#employeeName").val();
            var number = $("#employeeNumber").val();

            mongoDBinsert(name, number);
          }


        };



      }]);

    setTime();

    function setTime() {
      var beforeDateTime = '';
      var today = new Date();
      var nowDateTime = padZero(today.getHours()) + ":" + padZero(today.getMinutes()) + ":" + padZero(today.getSeconds());
      if (beforeDateTime != nowDateTime) {
        document.getElementById("timeShow").innerHTML = nowDateTime;
        beforeDateTime = nowDateTime;

      }
      setTimeout("setTime()", 200);
    }

    function padZero(param) {
      return "00".concat(param).match(/\d{2}$/);
    }

    app.filter('custom_filter', [function ($filter) {

      return function (inputArray, searchCriteria, dep) {
        if (!angular.isDefined(searchCriteria) || searchCriteria === '') {
          return inputArray;
        }
        var data = [];
        angular.forEach(inputArray, function (item) {
          if (item.dep == dep) {
            if (item.payee.name.toLowerCase().indexOf(searchCriteria.toLowerCase()) != -1) {
              data.push(item);
            }
          }
        });
        return data;
      };
    }]);


    //  $http.post("https://api.mongolab.com/api/1/databases/fdk/collections/nums/", param)

    function mongoDBdelete() {

      var password = $("#deletecode").val();
      var id = $("#deleteIdCode").val();

      if (password != "1234!") {
        alert("비번이 틀렸습니다.");
        return;
      }

      $.ajax({
        url: "https://api.mlab.com/api/1/databases/fdk/collections/nums/" + id + "?apiKey=TvwpqPIcfFv_8fbW6qfCx8TClWkvRggS",
        type: "DELETE",
        async: true,
        timeout: 300000,
        success: function (data) {
          console.log("successresponse=" + data);
          alert("Deleted");
          location.reload();

        },
        error: function (xhr, status, err) {
          console.log("successresponse=" + xhr);
          console.log("successresponse=" + status);
          console.log("successresponse=" + err);
        }
      });
    }

    function mongoDBinsert(name, phone) {
      $.ajax({
        url: "https://api.mlab.com/api/1/databases/fdk/collections/nums?apiKey=TvwpqPIcfFv_8fbW6qfCx8TClWkvRggS",
        data: JSON.stringify({ "name": name, "no": phone, "dep": "" }),
        contentType: "application/json",
        type: "POST",
        async: true,
        timeout: 300000,
        success: function (data) {
          console.log("successresponse=" + data);
          alert("saved");
          location.reload();

        },
        error: function (xhr, status, err) {
          console.log("successresponse=" + xhr);
          console.log("successresponse=" + status);
          console.log("successresponse=" + err);
        }
      });
    }

  </script>

</body>

</html>